<div class="content">
    <div class="text-content">
        <h1>Transforme o potencial da sua empresa com nossos serviços empresariais personalizados!</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae dignissimos doloremque illum eum omnis quidem explicabo distinctio similique eos tenetur, vel veritatis magni soluta inventore quod optio velit enim tempore.</p>
    </div>
        <mat-grid-list cols="2" rowHeight="2:1" class="grid">
            <mat-grid-tile><img src="https://images.unsplash.com/photo-1462206092226-f46025ffe607?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""></mat-grid-tile>
                <mat-grid-tile><img src="https://images.unsplash.com/photo-1599747645972-73c841de6e9e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""></mat-grid-tile>
                <mat-grid-tile><img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""></mat-grid-tile>
            <mat-grid-tile><img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""></mat-grid-tile>
    </mat-grid-list>
</div>