<h2>Veja o que nossos clientes estão dizendo sobre nós</h2>


<div class="card">
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>George Washington</mat-card-title>
      <mat-card-subtitle>CEO Lorem</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut officiis voluptatibus, est fuga nobis deserunt animi! Veritatis, iure? Error recusandae ipsum itaque doloribus? Reprehenderit, ducimus. Molestiae beatae quae voluptatum dolor.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Brad Mattew</mat-card-title>
      <mat-card-subtitle>CEO Lorem</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.unsplash.com/photo-1542744095-fcf48d80b0fd?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, blanditiis omnis consectetur temporibus assumenda dolorum voluptatibus, nam repellendus quas ad repudiandae deserunt, inventore error molestiae nisi maxime tempora quaerat perferendis.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title>John Noodle</mat-card-title>
      <mat-card-subtitle>CEO Lorem</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.unsplash.com/photo-1556761175-4b46a572b786?q=80&w=1548&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maiores provident animi? Voluptas minus inventore ut commodi velit nihil repudiandae expedita, quod, id iure eaque quos animi voluptates, ducimus reprehenderit!
      </p>
    </mat-card-content>
  </mat-card>
</div>